.lightText {
    color: rgb(200, 200, 200);
}

.darkText {
    color: rgb(50, 50, 50);
}

body {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    height: 100vh;
    overflow: hidden;
    /*background: url("Assets/sunny.jpeg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#main {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#center-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#info-area {
    width: 40rem;
    height: 30rem;
    text-align: center;
}

#search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

#error {
    font-size: 1.5rem;
    color: red;
    border: 1px solid red;
}

.invisible {
    visibility: hidden;
}

#location {
    font-size: 2.5rem;
}

#time {
    margin-top: -1rem;
    font-size: 2rem;
}

#temp {
    font-size: 10rem;
    margin-top: -2rem;
    align-self: start;
}

#other-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    font-size: 3rem;
}

#input {
    width: 12rem;
    height: 4rem;
    background: rgba(0, 0, 0, .2);
    font-size: 1.5rem;
    border-radius: .5rem;
}

.cloudyBG {
    background: url("Assets/cloudy.jpg") no-repeat center center fixed;
}
.sunnyBG {
    background: url("Assets/sunny.jpeg") no-repeat center center fixed;
}
.rainBG {
    background: url("Assets/rain.jpeg") no-repeat center center fixed;
}
.snowBG {
    background: url("Assets/snow.jpeg") no-repeat center center fixed;
}
.thunderstormBG {
    background: url("Assets/thunderstorm.jpeg") no-repeat center center fixed;
}
.nightBG {
    background: url("Assets/night.jpeg") no-repeat center center fixed;
}
.clearBG {
    background: url("Assets/clear.jpg") no-repeat center center fixed;
}
