:root {
    color: rgb(50, 50, 50);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    /*background: url("Assets/sunny.jpeg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#center-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
    width: 40rem;
    height: 30rem;
    border: 2px solid black;
    text-align: center;
    text-shadow: 2px 2px 2px white;
}

#location {
    font-size: 2.5rem;
}

#time {
    margin-top: -1rem;
    font-size: 2rem;
}

#temp {
    font-size: 10rem;
    margin-top: -2rem;
    align-self: start;
}

#other-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    font-size: 3rem;
}

.cloudyBG {
    background: url("Assets/cloudy.jpg") no-repeat center center fixed;
}
.sunnyBG {
    background: url("Assets/sunny.jpeg") no-repeat center center fixed;
}
.rainBG {
    background: url("Assets/rain.jpeg") no-repeat center center fixed;
}
.snowBG {
    background: url("Assets/snow.jpeg") no-repeat center center fixed;
}
.thunderstormBG {
    background: url("Assets/thunderstorm.jpeg") no-repeat center center fixed;
}
.nightBG {
    background: url("Assets/night.jpeg") no-repeat center center fixed;
}
.clearBG {
    background: url("Assets/clear.jpg") no-repeat center center fixed;
}
